{% extends 'shared/base.layout.html' %}
{% load static %}
{% block body %}
<div class="blogMainPage">
    <div class="blogMainPage__banner" style="">
        <h1>Welcome To One</h1>
    </div>
    <div class="blogMainPage__lastPosts">
        <div class="ui secondary pointing menu">
            <h4 class="item active">
                Last Posts
            </h4>
        </div>
        <div class="blogPostSection">
            <div class="singlePost">
                <div class="ui horizontal card">
                    <div class="image">
                        <img src="/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">
                            <span class="category">Animals</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middlePosts">
                <div class="ui horizontal card">
                    <div class="image">
                        <img src="/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">
                            <span class="category">Animals</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="ui horizontal card">
                    <div class="image">
                        <img src="/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">
                            <span class="category">Animals</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="littlePosts">
                <div class="ui horizontal card">
                    <div class="image">
                        <img src="/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">
                            <span class="category">Animals</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="ui horizontal card">
                    <div class="image">
                        <img src="/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">
                            <span class="category">Animals</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="ui horizontal card">
                    <div class="image">
                        <img src="/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <div class="header">Cute Dog</div>
                        <div class="meta">
                            <span class="category">Animals</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}